{% extends "customers/base.html" %}

{% block content %}
<h2>Список всех клиентов</h2>


<form class="form-inline" role="form">
  <label>Фильтр по имени/фамилии</label>
  <div class="form-group">
    <label class="sr-only">Email</label>
    <input name="q" class="form-control" placeholder="Введи фрагмент имя/фамилия" value="{{ request.GET.q }}">
  </div>
  <label for="form-control">Сортировать по</label>
  <select class="form-control" name="ordering" value="{{ request.GET.ordering }}">
    <option value="name">Имя</option>
    <option value="surname">Фамилия</option>
    <option value="birthday">Дата рождения</option>
  </select>
  <button type="submit" class="btn btn-default">Ввод</button>
</form>
<br>
<table class="table table-striped">
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Дата рождения</th>
    <th>Просмотр карточки</th>
    <th>Удаление</th>
  </tr>
  {% for customer in customers %}
  <tr>
    <td>{{ customer.name }}</td>
    <td>{{ customer.surname }}</td>
    <td>{{ customer.birthday }}</td>
    <td>
      <a href="{% url 'customers:detail' customer.id %}"><span class="glyphicon glyphicon-eye-open"></span></a>
    </td>
    <td>
      <a href="{% url 'customers:delete' customer.id %}"><span class="glyphicon glyphicon-remove"></span></a>
    </td>
  </tr>

  {% empty %}
  <h3>Пока нет пользователей</h3>
  {% endfor %}
</table>
<hr>
<a href="{% url 'customers:voting' %}">Голосование</a>
<hr>
<a href="{% url 'customers:new_customer' %}">Добавить нового клиента</a>
<hr>
<a href="{% url 'customers:export_customers' %}">Сохранить список клиента</a>
{% endblock content %}