{% extends "customers/base.html" %}

{% block content %}

<div id="comment_form">
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить пользователя" name="" id="">
  </form>
</div>

{% endblock content %}