{% extends "customers/base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <img src="{{ customer.photo_link }}" alt="">
  </div>
  <div class="col-md-6">
    <p><b>Имя</b>: {{ customer.name }}</p>
    <p><b>Фамилия</b>: {{ customer.surname }}</p>
    <p><b>Дата рождения</b>: {{ customer.birthday }} ( {{ customer.age }} лет) </p>
  </div>
</div>

{% endblock content %}