{% extends "customers/base.html" %}

{% block content %}
<h2>Голосование</h2>
{% if error_message %}
  Голосование за выбранного участника прекращено
{% endif %}
<div class="row">
{% for card in cards %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ card.photo_link }}">
      <div class="caption">
        <p>
          <a href="{% url 'customers:vote_for' card.id %}" class="btn btn-primary
          {% if card.votes >= 10 %}
          disabled
          {% endif %}
          " role="button">Голосовать</a>
        </p>
        <p>{{ card.votes }} голосов</p>
      </div>
    </div>
  </div>
{% empty %}
<h3>Пока нет пользователей</h3>
{% endfor %}
</div>

{% endblock content %}